# Core dependencies
pandas
numpy
nltk
scikit-learn
# gensim
transformers
matplotlib
seaborn
plotly
networkx
beautifulsoup4
wordcloud
sompy-package
loguru
tqdm
dateparser
python-dotenv

# Database
psycopg2-binary
sqlalchemy
supabase

# Development tools
# Linting and formatting

# Testing
pytest

# Documentation

# Build tools
setuptools

spacy
