# Core dependencies
pandas
numpy
nltk
scikit-learn
# gensim
transformers
matplotlib
seaborn
plotly
networkx
beautifulsoup4
wordcloud
sompy-package
loguru
tqdm
dateparser

# Development tools
# Linting and formatting

# Testing
pytest

# Documentation

# Build tools
setuptools
